*{
  background: rgb(47, 166, 187);
  border-top: 20px;
  }
  body {
    height: 300px;
    align-self:center;
    align-items:right;
  }

  header { 
      color: rgb(71, 45, 69);
      display:flex;
      justify-content: space-between;
      align-items: vertical;
  }
  h1 {
      color: rgb(63, 30, 30);
      display:flex;
      justify-content: space-between;
  }

  .class-1 {
    border: 15px solid rgb(155, 48, 48);
    outline: 3px solid royalblue;
  }
  div {
    

  }
  

  
