*{
  background: rgb(159, 206, 214);
  border-top: 20px;
  }
  body {
    height: 300px;
    align-self:center;
    align-items:right;
  }
 
.media {
display:flex;
justify-content: space-between;
align-items: vertical;

}
  header { 
      color: rgb(71, 45, 69);
      display:flex;
      justify-content: space-between;
      flex-grow: inherit;
      align-items: stretch-horizontal;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  h1 {
      color: rgb(63, 30, 30);
      display:flex;
      justify-content: space-between;
  }
  
  .class-1 {
    display: flexbox;
    border: 5px solid rgb(245, 136, 47);
    outline: 3px solid rgb(6, 19, 59);
  }
  .class-2 {
      display: flexbox;
      border: 5px solid rgb(194, 135, 58);
      outline: 3px solid rgb(9, 13, 26); 
      align-self: flex-end;

  }
  .class-3 {
    display: flexbox;
    border: 5px solid rgb(216, 88, 88);
    outline: 3px solid rgb(48, 51, 58); 
    align-self: flex-end;

}
.class-4 {
  display: flexbox;
  border: 5px solid rgb(236, 7, 7);
  outline: 3px solid rgb(56, 56, 58); 
  align-self: flex-end;
}


  
